@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Poppins&display=swap");

:root {
  --primary-color: #03045e;
  --secondary-color: #0077b6;
  --accent1-color: #00b4d8;
  --accent2-color: #90e0ef;
  --accent2-color-rgb: 144, 224, 239;

  --heading-font: Alfa Slab One, serif;
  --paragraph-font: Poppins, serif;

  --nav-background-color: #90e0ef;
  --nav-link-color: #0077b6;
  --nav-hover-link-color: #03045e;
  --nav-hover-background-color: #00b4d8;
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
  letter-spacing: 1.5px;
}

header {
  padding: 20px;
  margin: 1rem auto;
  background-color: var(--accent1-color);
  display: grid;
  grid-template-columns: 120px 2fr;
  align-items: center;
  max-width: 960px;
}

nav {
  text-align: center;
}

.navigation {
  display: flex;
}

.navigation a {
  display: flex;
  color: var(--primary-color);
  padding: 20px;
  text-decoration: none;
  justify-content: right;
}

.navigation a:hover {
  color: white;
  font-weight: 700;
}

.logo {
  margin: 0 0.25rem 0 1rem;
  width: 90px;
  height: auto;
}

p {
  padding: 25px;
}

.hero img {
  width: 960px;
  height: auto;
}

.hero main {
  position: relative;
}

.hero h1 {
  position: absolute;
  left: 250px;
  bottom: 230px;
  color: var(--accent2-color);
}

main article {
  position: absolute;
  left: 150px;
  bottom: -150px;
  max-width: 800px;
}
.hero article img {
  float: right;
  width: 300px;
  height: auto;
}

article {
  background-color: rgba(var(--accent2-color-rgb), 0.5);
}

.sociallinks a {
  text-decoration: none;
}

.sociallinks img {
  width: 30px;
  height: 30px;
}
